{% extends 'base.html' %}

{% block content %}

<p>Playlist creation form.</p>

<form method="POST" action="{{ url_for('main.create_playlist') }}">
    {{ form.csrf_token }}
    <fieldset>
        <legend>Enter a Playlist</legend>

        {{ form.name.label }}
        {{ form.name }}
        <ul>
        {% for error in form.name.errors %}
            <li class="error">{{ error }}</li>
        {% endfor %}
        </ul>

        {{ form.photo_url.label }}
        {{ form.photo_url }}
        <ul>
        {% for error in form.title.errors %}
            <li class="error">{{ error }}</li>
        {% endfor %}
        </ul>
        
        {{ form.submit }}
    </fieldset>
</form>

{% endblock %}