{% extends 'base.html' %}

{% block content %}

<!-- MAIN CONTENT -->
<section class="banner text-center">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <h1 >Songs App🎶</h1>
                <h4 class="py-4">App where you can create playlists and songs</h4>
                <!-- All Playlists Content -->
                <div class="play">
                    <h2 class="title">All Playlists</h2>
                    <div class="container">
                        <div class="row">
                            {% for playlist in all_playlists %}
                            <div class="col-md-4">
                                <div class="card p-2 m-2">
                                    <img src="{{url_for('static', filename='Logo.png')}}" class="card-img-top" alt="...">
                                    <div class="card-body">
                                        <h5 class="card-title">{{ playlist.name }}</h5>
                                        <a href="/songs_in_playlist/{{ playlist.id }}" class="btn btn-primary btn-md">View Playlist</a>
                                    </div>
                                </div>
                            </div>
                            {% endfor %}
                        </div>
                    </div>    
                </div>
            </div>
        </div>
    </div>
</section>


<section id="play">
    
</section>


{% endblock %}